@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: #F7F7F7;
}

html {
  scroll-behavior: smooth;
}

.manrope-font {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

.animate-marquee {
  display: flex;
  animation: marquee 8s linear infinite;
}

.animate-marquee img {
  will-change: transform;
}

/* pagination dots ko neeche shift karna */
.swiper-pagination {
  position: relative !important;
  margin-top: 30px; /* cards me gap */
}


@keyframes floatBtn {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-float {
  animation: floatBtn 1.5s ease-in-out infinite;
}